img{
    float: right;
    margin: 5px 20px;
    height: 250px;
}

#img2{
}

p{
    border: 1px solid red;
}

/* Só limpa a flutuação conforme definido*/
.clear{
    /* usado para limpar a flutuação em geral
    clear: both; 
    */
    clear: left;
    background-color: red;
    color: white;
}

#page{
    background-color: pink;
    height: 300px;
    margin-bottom: 10px;
}

#page div{
    box-sizing: border-box;
    float: left;
    border: 1px solid red;
    height: 100%;
    padding: 10px;
    text-align: center;
    
}

.col3{
    width: 30%;
}

.col4{
    width: 40%;
}

#cabeçalho{
    min-height: 100px;
    background-color: lightgreen;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid black;
}

#rodapé{
    min-height: 50px;
    background-color: lightskyblue;
    text-align: center;
    border: 1px solid black;
    
}

section{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    background-color: darkgrey;
}
